.chart,.piechart,.mapchart,.averagechart,.goodchart,.habitPie{
  width: 100%;
  height: 260px;
  background: var(--chart-bg);
  margin-top: 1rem;
  border-radius: 1rem;
}
.piechart{
  height: 340px;
}
.mapchart{
  height: 700px;
}
.averagechart{
  height: 300px;
  margin-bottom: 1rem;
}
.goodchart{
  height: 260px;
}
.habitPie{
  height: 260px;
}