.chart{
  width: 100%;
  height: 260px;
  background: var(--chart-bg);
  margin-top: 1rem;
  border-radius: 1rem;
}
.piechart{
  width: 100%;
  height: 340px;
  background: var(--chart-bg);
  margin-top: 1rem;
  border-radius: 1rem;
}
.mapchart{
  width: 100%;
  height: 700px;
  background: var(--chart-bg);
  margin-top: 1rem;
  border-radius: 1rem;
}
.averagechart{
  width: 100%;
  height: 340px;
  background: var(--chart-bg);
  margin-top: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.goodchart{
  width: 100%;
  height: 260px;
  background: var(--chart-bg);
  margin-top: 1rem;
  border-radius: 1rem;
}
.habitPie{
  width: 100%;
  height: 260px;
  background: var(--chart-bg);
  margin-top: 1rem;
  border-radius: 1rem;
}