
:root{
  --theme-bg:#f2f3f5;
  --body-bg-top: #d1daf5;
  --body-bg-bottom: #f5f4f4;
  --theme-font-color:#386b78;
  --button-left:#5764f1;
  --button-right:#7580f5;
  --button-light:#939bf8;
  --input-min-height: 48px;
  --input-radius: 8px;
  --input-shadow: rgba(0,0,0,0.25);
  --error-color: #E10505;
  --input-border-color: #d1daf5;
  --box-radius: 12px;
  --model-font-color:#f2f3f5;
  --error-font-color:gray;
  --info-g-color:#989a99;
  --info-bg-color:#fff;
}