.button{
  background: linear-gradient(to right,var(--button-left),var(--button-right));
  border: none;
  color: var(--body-bg-bottom);
  box-shadow: 0 0 10px var(--button-right);
  border-radius: 8px;
  line-height: 2.5rem;
  padding: 0 2rem;
  
}