.wrapper{
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  .line{
    height: 1.8rem;
    width: 3px;
    background: var(--quote-bg);
  }
  .time{
    color: var(--theme-font-color);
    margin-left: 0.5rem;
  }
}