.wrapper{
  display: flex;
  flex-direction: column;
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .svg{
      text-align: center;
      width: 64px;
      height: 64px;
    }
    >h1{
      margin-top: 8px;
      color: var(--theme-font-color);
      text-align: center;
      letter-spacing: 1px;
      font-size: 2rem;
    }
  }
}

.submit{
  display: flex;
  justify-content: space-between;
  >button{
    &:nth-child(1){
      margin-right: 1rem;
      flex: 1;
    }
    &:nth-child(2){
      padding: 0 3rem;
    }
  }
}
.icon{
  width: 1.5rem;
  height: 1.5rem;
}