.chart, .subjectClass, .difficulty, .average, .time{
  width: 100%;
  height: 360px;
  background: var(--chart-bg);
  margin-top: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.subjectClass{
  height: 260px;
}
.difficulty{
  height: 620px;
}
.average{
  height: 260px;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
  .time{
    color: var(--theme-font-color);
  }
  >button{
    float: right;
  }
}
