.none{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  align-items: center;
  height: 100%;
  margin-top: 10rem;  
  color: var(--error-font-color);
  .svg{
    width: 168px;
    height: 168px;
    margin-top: 3rem;
  }
}
.wrapper{
  width: 100%;
  height: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
      font-size: 1rem;
      padding: 0;
      line-height: 0;
      color: var(--theme-font-color);
    }
  }
  .my{
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 5px #eee;
    display: flex;
    flex-direction: column;
    .emptyBox{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1rem 0;
      >span{
        font-size: 1rem;
        margin-top: 1rem;
      }
      .empty{
        width: 10rem;
        height: 10rem;
      }
    }
    .content{
      font-size: 1rem;
      width: 96%;
      margin: 0 auto;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      >span{
        &:nth-child(1){
          flex: 1;
        }
        &:nth-child(2){
          color: var(--error-font-color);
        }
      }
      .svg{
        width: 1rem;
        height: 1rem;
        fill: var(--error-font-color);;
      }
    }
    .box{
      border-radius: 8px;
      background: var(--body-bg-top);
      width: 96%;
      margin: 10px auto;
      box-sizing: border-box;
      padding: 12px;
      display: flex;
      flex-direction: column;
      .infoF{
        display: flex;
        align-items: center;
        font-size: 1rem;
        .name{
          margin: 0 4px;
          flex: 1;
        }
        >img{
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          margin: 0 4px;
        }
        >button{
          padding:2px 8px;
          line-height: 1.5rem;
          font-size: 1rem;
          margin-left: 8px;
        }
      }
      .infoB{
        display: flex;
        margin-top: 18px;
        .left{
          flex: 1;
        }
        .right{
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          >img{
            width: 128px;
            height: 128px;
          }
          .award{
            margin-top: 0.6rem;
          }
          .time{
            margin: 0 4px;
            flex: 1;
          }
        }
      }
      .info{
        margin-top: 18px;
        .type{
          font-size: 1rem;
          color: var(--info-g-color);
        }
        >span{
          font-size: 1.1rem;
        }
      }
     
    }
  }
}

.other{
  .box{
    background: var(--info-bg-color) !important;
  }
}