.wrapper{
  padding: 0.4rem 1rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  .container{
    margin: 1rem 0;
    width: 100%;
    min-height: 8.4rem;
    max-height: 8.4rem;
    padding: 0.2rem 0;
    overflow: hidden;
    background: var(--lunbo-wrapper-bg);
  }
  .feedback{
    margin: 1rem 0;
    min-height: 8rem;
    max-height: 8rem;
    width: 1000px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0.2rem 0 ;
    flex-wrap: wrap;
    box-sizing: border-box;
    animation-name: resetSlide;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    .ball{
      height: 1.8rem;
      color: var(--theme-font-color);
      padding: 0.2rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      .svg{
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }
  .chart{
    width: 100%;
    height: 500px;
  }
  .icon{
    width: 100%;
    padding: 3rem 0;
    .svg{
      position: relative;
      right: 0;
    }
  }
  .submit{
    position: fixed;
    bottom: 1rem;
    left: 0.6rem;
    right: 0.6rem;
    >Form{
      padding: 0;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes resetSlide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}