.none{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  align-items: center;
  height: 100%;
  margin-top: 10rem;  
  color: var(--error-font-color);
  .svg{
    width: 168px;
    height: 168px;
    margin-top: 3rem;
  }
}