.wrapper{
  width: 100%;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  .content{
    width: 100%;
    font-size: 1rem;
    color: var(--font-color-light);
    >Form{
      padding: 0.5rem 0;
      margin-bottom: 8px;
    }
    >p{
    }
    .steps{
      height: 5rem;
    }
  }
}

