.content{
  font-size: 1rem;
  >Form{
    padding: 0;
  }
  .empty{
    padding: 3rem 0;
    display: flex;
    align-items: center;
    >img{
      width: 16rem;
      height: 16rem;
      margin: 0 auto;
    }
  }
  .list{
    width: 100%;
    background: var(--chart-bg);
    border-radius: 0.4rem;
    margin-top: 1rem;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    .item{
      .info{
        color: var(--theme-font-color);
        margin-right: 0.5rem;
        font-size: 0.9rem;
      }
      .itemList{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        .infoEmpty{
          margin: 3rem 0;
          text-align: center;
        }
        .workList{
          font-size: 0.8rem;
          .workItem{
            display: flex;
            margin: 0.8rem 0;
            .index{
              color: var(--work-index);
            }
            .workName{
              width: 6rem;
              max-width: 6rem;
              margin-left: 0.2rem;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: var(--work-name);
            }
            >span{
              font-style: italic;
              flex: 1;
              color: var(--work-name);
            }
            .time{
              color: var(--work-time);
            }
          }
        }
      }
    }
  }
}