.wrapper{
  background: var(--theme-bg);
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  .main{
    height: 16%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 2rem;
    background: linear-gradient(to bottom,var(--body-bg-top),var(--body-bg-bottom));
    .title{
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      .icon{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 8px;
      }
    }
  }
  .body{
    
  }
  .footer{
    height: 6%;
    flex-shrink: 0;
    background: var(--body-bg-bottom);
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    .title{
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }
  }
}

.title{
  font-size: 2rem;
  color: var(--theme-font-color);
}


