.mask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 透明度为0.5的黑色背景，可以根据需要调整透明度 */
  z-index: 9999; /* 使遮罩层在其他内容上方显示 */
}
.wrapper{
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  animation-name: action;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  z-index: 10000;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .title{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    >span{
      &:nth-child(2){
        margin-top: 0.5rem;
      }
    }
  }
  .header{
    height: 24%;
  }
  .body{
    flex: 1;
  }
}

@keyframes action {
  0%{
    width: 50%;
  }
  100%{
    width: 70%;
  }
}

.icon{
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.list{
  padding: 3rem 0;
  >ul{
    >li{
      margin: 12px 0;
      font-size: 1.5rem;
      padding: 0 1rem;
      >a{
        color: var(--theme-font-color);
        display: flex;
        align-items: center;
        >span{
          font-size: 1.1rem;
          margin-left: 0.8rem;
        }
      }
    }
  }
}
