.wrapper{
  font-size: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  .upload{
    width: 100%;
    padding: 0.4rem;
    box-sizing: border-box;
  }
  .status{
    color: gray;
    padding: 1rem 0.4rem;
    display: flex;
    align-items: center;
    .svg{
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.4rem;
      animation-name: rotate;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  >p{
    margin: 0.4rem 0;
    .content{
      color: var(--table-set-color);
      margin: 0 0.2rem;
    }
  }
}
@keyframes rotate{
	0%{
		transform: rotateZ(0deg)
	}
	100%{
		transform: rotateZ(360deg)
	}
}